* {
  box-sizing: border-box;
}

.background-img {
  position: relative;
  width: 736px;
  height: 662px;
  background: url("./img/image.jpg");
}

.light {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 1s;
  
}


.light-1 {
  background-color: rgba(190, 41, 41, 0.5);
  top: 30%;
  left: 46px;
}
.light-2 {
  background-color: rgba(41, 160, 190, 0.5);
  top: 16%;
  left: 85px;
}
.light-3 {
  background-color: rgba(41, 190, 78, 0.5);
  top: 27%;
  left: 126px;
}
.light-4 {
  background-color: rgba(41, 190, 128, 0.5);
  top: 22%;
  left: 188px;
}
.light-5 {
  background-color: rgba(190, 41, 183, 0.5);
  top: 32%;
  left: 244px;
}
.light-6 {
  background-color: rgba(187, 190, 41, 0.5);
  top: 26%;
  left: 306px;
}
.light-7 {
  background-color: rgba(58, 190, 41, 0.5);
  top: 29%;
  left: 360px;
}
.light-8 {
  background-color: rgba(55, 0, 255, 0.5);
  top: 16%;
  left: 399px;
}
.light-9 {
  background-color: rgba(190, 138, 41, 0.5);
  top: 27%;
  left: 438px;
}
.light-10 {
  background-color: rgba(190, 71, 41, 0.5);
  top: 21%;
  left: 501px;
}
.light-11 {
  background-color: rgba(190, 41, 116, 0.5);
  top: 31%;
  left: 557px;
}
.light-12 {
  background-color: rgba(81, 41, 190, 0.5);
  top: 25%;
  left: 619px;
}

.intensity, .num {
  color: aqua;
}

.manual {
  position: absolute;
  top: 50%;
  left: 35%;
}